
  <h1>{{ "title" | translate }}</h1>

  <hr />

  <button (click)="useLang('sk')">{{ "slovak" | translate }}</button>
  &nbsp;
  <button (click)="useLang('en')">{{ "english" | translate }}</button>

  <hr />

  <ul>
    <li><a [routerLink]="['module-1']">Module 1</a></li>
    <li><a [routerLink]="['module-2']">Module 2</a></li>
    <li><a [routerLink]="['lazy-module-1']">Lazy Module 1</a></li>
    <li><a [routerLink]="['lazy-module-2']">Lazy Module 2</a></li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>


